body {
  width: 70%;
  margin: 10vw auto;
}
@font-face{
	font-family: 'UGCY';
	font-style: normal;
	font-weight: 400;
	src: url(/fonts/UGCY.woff2) format("woff2"), 
	url(/fonts/UGCY.woff) format("woff");
	
}
.heading {
  font-family: UGCY, sans-serif;
  font-size: 6vw;
}

.subheading {
  font-family: "Open Sans", sans-serif;
  font-size: 4vw;
  line-height: 1.5;
}

.link{
    margin-right: 0.25em;
}

a{
  color: #000 !important;
  text-decoration: none
}

@media screen and (max-width: 480px){
  body {
    width: 80%;
    padding-top:20%;
  }
  .heading {
    font-size: 9vw;
  }

  .subheading {
    font-size: 6vw;
  }
}

/*================================================
Start Important Part
==================================================*/

.underline--magical {
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  
}
.underline--magical:hover, .underline{
    background-size: 100% 88%;
  }

/*================================================
End Important Part
==================================================*/