.point-layout,.point-layout_special {
    display: inline-block;
    white-space: nowrap;
    position: relative;
	left:-16px;
	top:-32px;
}

.point-title,.point-layout_special__title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    background: hsla(0,0%,100%,.8);
    display: inline-block;
    vertical-align: middle;
    z-index: 1;
    padding: 0 12px 0 17px;
    margin-left: 17px;
	margin-top:2px;
    border-radius: 14px;
    max-width: 200px;
    color: #303030;
    height: 28px;
    line-height: 28px
}

.point-layout__active-icon,.point-layout__dot-icon,.point-layout__hover-icon,.point-icon,.point-layout_special__active-icon,.point-layout_special__dot-icon,.point-layout_special__hover-icon,.point-layout_special__icon {
    position: relative;
    text-align: center;
    vertical-align: middle;
    z-index: 2
}


.point{
	margin: 2px;
    position: absolute;
	display:inline-block;
	vertical-align:middle;
    width: 28px;
    height: 28px;
    border-radius: 16px;
    border: 2px solid #fff;
    background: #a942ea;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}
.point-red{
	background:rgba(255,88,88)!important;
}
.point-green{
	background:rgba(0,210,95)!important;
}


.point-layout._active .point-layout__active-icon,.point-layout._hover:not(._active) .point-layout__hover-icon,.point-icon,.point-layout_special._active .point-layout_special__active-icon,.point-layout_special._hover:not(._active) .point-layout_special__hover-icon,.point-layout_special__icon {
    display: inline-block
}




.dot-icon{
    margin: 8px;
    background-color: #fff;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
    height: 8px;
    width: 8px;
}


.point-layout__dot-icon,.point-layout__hover-icon,.point-icon {
    width: 32px;
    height: 32px
}



